#galleryPage{
    /* background-color: navy; */
    width: 100%;
}

#catWrapper{
    margin: 20px;
}

.cat{
    border-radius: 25px;
    background-color: var(--bgHeader);
    padding: 10px;
    margin:10px;
    color: lightgray;
    &:hover{
        background: linear-gradient(0deg, rgba(0,56,255,1) 0%, rgba(5,34,135,1) 100%);
        color:white;
        box-shadow: 2px 4px 4px 0px var(--baseGreen);
        cursor: pointer;

    }
}

#images-wrapper {
    margin: 50px;
    margin-top: 10px !important;
    width:90%;  
    line-height: 0;       
    -webkit-columns: 5 400px;
    -moz-columns: 5 200px;
         columns: 5 200px;   
     -webkit-column-gap: 60px;      
     -moz-column-gap: 60px;
      column-gap: 60px;

 }  
 
 #images {
    margin-top: 0px !important;
    position:sticky;
    margin:60px;
    width: 100% !important;    
    height: auto !important;
    transition:filter 1s, transform 0.8s, z-index 1s ;
    z-index: 0;
 }

 .otherImg{
     position:sticky;
     opacity: 0.5;
     z-index: 0;
     transition: opacity 1s, filter 1s;
     filter: grayscale(100) blur(6px);
 }

#images:hover {
     transition: transform 0.8s, filter 1s opacity 1s;
     transform: scale(1.5);
     filter: none;
    position: sticky;
    opacity: 1;
    z-index: 4;
 }

 #images-wrapper{    
    display:inline-block;    
    margin-right: auto;    
    margin-left: auto;  
 }