

:root {
  --baseBlue: #61dafb;
  --basePink: #fc0fc0;
  --baseGreen: #40D297;
  --bgLight: #d6ecf3;
  --bgDark: navy;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover[night="1"]{
  transition: color 0.2s;
  color: var(--baseGreen);
  cursor: pointer;
  text-shadow: 1px 4px 4px var(--basePink) ;
}

a:hover[night="-1"]{
  transition: color 0.2s;
  color: var(--basePink);
  cursor: pointer;
  text-shadow: 1px 4px 4px var(--baseGreen) ;
}

.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: var(--baseBlue);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background[night="1"]{
  background-color: var(--bgDark);
  color:white;
  animation-direction: normal;

}

.background[night="-1"]{
  background-color:white;
  color:var(--bgDark);
  animation-direction: reverse;

}

.background[nightShift='1']{
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-name: backgroundShift;
  /* animation-fill-mode: forwards; */
}

@keyframes backgroundShift {

  from {
    background-color: var(--bgDark);
    color: white;
  }
  to{
      background-color: white;
      color: var(--bgDark);
  }
}


.Wrapper {
  margin:0;
  border:0;
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.Game {
  position: fixed;
}

.ground {
  width: 100vw;
  height:100vh;
}

.character{
  left: 50vw;
}

#canvas3d {
  background-color:var(--bgDark);
}