@import "colors.scss";
@import "flex.scss";
:root{
  background-color: var(--bgDark);
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: var(--baseBlue);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.darkSvg2 path{
  stroke: white;
}

.lightSvg2 path{
  stroke: var(--bgDark);
}

.shiftingSvg2 path{
animation-timing-function: ease-out;
animation-duration: 1s;
animation-name: svgNightShift2;
}

@keyframes svgNightShift2 {
from {
  stroke: white;
}
to{
    stroke: var(--bgDark);
}
}

.darkSvg path{
    fill: white;
}

.lightSvg path{
    fill: var(--bgDark);
}

.shiftingSvg path{
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-name: svgNightShift;
}

@keyframes svgNightShift {
  from {
    fill: white;
  }
  to{
      fill: var(--bgDark);
  }
}

.dark2{
  &:root{
    background-color: var(--bgDark) ;
  }
  background-color: var(--bgDark);
  color:white;
  border-color: white;
  animation-direction: normal;

}

.light2{
  background-color:white;
  color:var(--bgDark);
  border-color: var(--bgDark);
  animation-direction: reverse;
}

.shifting2{
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-name: nightShift2;
  /* animation-fill-mode: forwards; */
}

@keyframes nightShift2 {
  from {
    background-color: var(--bgDark);
    color: white;
    border-color: white;
  }
  to{
      background-color : white;
      color: var(--bgDark);
      border-color: var(--bgDark);
  }
}


.Wrapper {
  margin:0;
  border:0;
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.Game {
  position: fixed;
}

.ground {
  width: 100vw;
  height:100vh;
}

.character{
  left: 50vw;
}

#canvas3d {
  background-color:var(--bgDark);
}