@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#headerWrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:70px;
    font-family: 'VT323', monospace;
    font-size:30px;
}

#headerWrapper[night="1"]{
    background-color: midnightblue;
    color:white;
    animation-direction: normal;

}

#headerWrapper[night="-1"]{
    background-color:rgb(214, 236, 243);
    color:midnightblue;
    animation-direction: reverse;

}

#headerWrapper[nightShift='1']{
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-name: nightShift;
    /* animation-fill-mode: forwards; */
}

@keyframes nightShift {

    from {
      background-color: midnightblue;
      color: white;
    }
    to{
        background-color: rgb(214, 236, 243);;
        color: midnightblue;
    }
}



#headerContent{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerText {
    margin: 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* .headerText:hover{
    color: mediumturquoise;
    cursor: pointer;
} */

#nightSwitch {
    width: 100px;
    height: auto;
}

#nightSwitch:hover{
    cursor: pointer;
}